{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Report</title>
    <meta name="description" content="Device Report">
    <meta name="author" content="Roger">
    <link rel="stylesheet" href="{% static 'css/report.css' %}">
</head>

  <body>
    {% block content %}
    <img src="{% static 'images/logo_electrophysiology.jpg' %}" style="width:260px;height:95px;" />
    <h1>Device Report</h1>

    <aside>
      <address id="from">
        {{client_id__doctors__first_name}} {{client_id__doctors__last_name}}
        {{client_id__doctors__str_address}}
        {{client_id__doctors__ct_address}} 
        {{client_id__doctors__st_address}} {{client_id__doctors__pc_address}}
      </address>

      <address id="to">
        Cardiac Unit
        Westmead Public Hospital
        Westmead, NSW AU 2145
      </address>
    </aside>

    <dl id="informations">
      <dt>Invoice number</dt>
      <dd>12345</dd>
      <dt>Date</dt>
      <dd>March 31, 2018</dd>
    </dl>

    <div class="row">
      <div class="column">
        <table>
          <thead>
            <th>Patient Details</th>
          </thead>
          <tbody>
            <tr>
              <td>Patient Name:</td>
              <td>Joe Blow</td>
              <td>Device Type:</td>
              <td>Pacemaker</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <hr>
    <div class= "row">
      <div class = "column">
        <table>
          <thead>
            <th>Measurements</th>
          </thead>
          <tbody>
            <tr>
              <td>Battery Voltage:</td>
              <td>2.0</td>
              <td>RA Amplitude:</td>
              <td>3.0</td>
              <td>RV Amplitude:</td>
              <td>3.0</td>
            </tr>
            <tr>
              <td>Atrial Paced:</td>
              <td>100</td>
              <td>RA Threshold:</td>
              <td>0.5@0.4</td>
              <td>RV Threshold:</td>
              <td>0.5@0.4</td>
            </tr>
            <tr>
              <td>Ventricular Paced:</td>
              <td>100</td>
              <td>RA Impedance:</td>
              <td>500</td>
              <td>RV Impedance:</td>
              <td>500</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="column">
        <table style="margin-left: 10px">
          <thead>
            <th>Arrhythmias</th>  
          </thead>
          <tbody>
            <tr>
              <td>Website design</td>
              <td>€34.20</td>
              <td>100</td>
              <td>€3,420.00</td>
            </tr>
            <tr>
              <td>Website development</td>
              <td>€45.50</td>
              <td>100</td>
              <td>€4,550.00</td>
            </tr>
            <tr>
              <td>Website integration</td>
              <td>€25.75</td>
              <td>100</td>
              <td>€2,575.00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>



    <table id="total">
      <thead>
        <th>Due by</th>
        <th>Account number</th>
        <th>Total due</th>
      </thead>
      <tbody>
        <tr>
          <td>May 10, 2018</td>
          <td>132 456 789 012</td>
          <td>€10,545.00</td>
        </tr>
      </tbody>
    </table>
  </body>
  {% endblock %}
</html>
