{% extends 'clients/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div>
	<h3>Client Details</h3>
	<hr>
	<h4>{{client.first_name}} {{client.last_name}}</h4>
	<div class="row">
		<div class="col">
			<label style="color: #7B1FA2; font-weight: bold;">Record Number: </label> {{client.record_number}}
			<br>
			<label style="color: #7B1FA2; font-weight: bold;">First Name: </label> {{client.first_name}}
			<br>
			<label style="color: #7B1FA2; font-weight: bold;">Last Name: </label> {{client.last_name}}
			<br>
			<label style="color: #7B1FA2; font-weight: bold;">Date of Birth: </label> {{client.dob}}
		</div>
		<div class="col">
			<label style="color: #7B1FA2; font-weight: bold;">Device manufacturer: </label> {{client.device_man}}
			<br>
			<label style="color: #7B1FA2; font-weight: bold;">Device Name: </label> {{client.device_name}}
			<br>
			<label style="color: #7B1FA2; font-weight: bold;">Device Serial: </label> {{client.device_serial}}
			<br>
			<label style="color: #7B1FA2; font-weight: bold;">Implant Date: </label> {{client.implant_date}}
      <br>
			<div>
			<label style="color: #7B1FA2; font-weight: bold;">Doctors List: </label>
			<br>
			<ul class="list-group">
				{% for doc in client.doctors.all %}
    		<li class="list-group-item">{{ doc.doc_type }}: {{ doc.first_name }} {{ doc.last_name }}</li>
				{% endfor %}
			</ul>
			</div>
			<br>
	</div>
	<hr>
</div>
<div>
	<a class="btn btn-secondary" href="{% url 'client:service' client.pk %}">Services</a>
	<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#updateModal">Update</button>
	<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
</div>


<!-- Delete Client Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Delete Client"</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete "{{object.first_name}} {{ object.last_name }}"</p>
      </div>
      <div class="modal-footer">
	  	<form method="post" action="{% url 'client:client_delete' client.pk %}">
			{% csrf_token %}
        	<button type="submit" class="btn btn-danger">Delete Client</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</form>
      </div>
    </div>
  </div>
</div>

<!-- Update Client Modal-->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Update Client</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Update the details for "{{object.first_name}} {{ object.last_name }}"</p>
      </div>
      <div class="modal-footer">
      <div class="container">
          <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#client_details" role="tab" aria-controls="nav-home" aria-selected="true">Client Details</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#device_details" role="tab" aria-controls="nav-profile" aria-selected="false">Device Details</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#doctors_list" role="tab" aria-controls="nav-contact" aria-selected="false">Doctors List</a>
              </div>
          </nav>


	  	<form method="post" action="{% url 'client:client_update' client.pk %}">
      {% csrf_token %}
      <div class='tab-content' id="nav-tabContent">
			  <div class='form-row tab-pane fade show active' role="tabpanel" id="client_details" role="tabpanel">
          <div class='form-group col-md-4 mb-0'>
            {{ form.record_number|as_crispy_field }}
            {{ form.first_name|as_crispy_field }}
            {{ form.last_name|as_crispy_field }}
            {{ form.dob|as_crispy_field }}
          </div>
        </div>

        <div class='form-row tab-pane fade' role="tabpanel" id="device_details" role="tabpanel">
          <div class='form-row'>
            <div class='form-group col-md-6 mb-0'>
              {{ form.device_man|as_crispy_field }}
              {{ form.device_name|as_crispy_field }}
              {{ form.bol_voltage|as_crispy_field }}
            </div>
            <div class='form-group col-md-6 mb-0'>
              {{ form.device_serial|as_crispy_field }}
              {{ form.implant_date|as_crispy_field }}
              {{ form.eri_voltage|as_crispy_field }}
            </div>
          </div>
        </div>

        <div class='form-row tab-pane fade' role="tabpanel" id="doctors_list" role="tabpanel">
          <div class='form-group col-md-4 mb-0 '>
							<div style="overflow-y: scroll; height:400px; border: thin solid black;">
              {{ form.doctors|as_crispy_field }}
							</div>
          </div>
        </div>

        <button type="submit" class="btn btn-danger">Update Client</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      </form>
      

      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}
