{% extends 'clients/base.html' %}

{% block content %}
<div>
	<h3>Client Details</h3>
	<hr>
	<h4>{{client.first_name}} {{client.last_name}}</h4>
	<div class="row">
		<div class="col">
			<label style="color: #7B1FA2; font-weight: bold;">Record Number: </label> {{client.record_number}}
			<br>
			<label style="color: #7B1FA2; font-weight: bold;">First Name: </label> {{client.first_name}}
			<br>
			<label style="color: #7B1FA2; font-weight: bold;">Last Name: </label> {{client.last_name}}
			<br>
			<label style="color: #7B1FA2; font-weight: bold;">Date of Birth: </label> {{client.dob}}
		</div>
		<div class="col">
			<label style="color: #7B1FA2; font-weight: bold;">Device manufacturer: </label> {{client.device_man}}
			<br>
			<label style="color: #7B1FA2; font-weight: bold;">Device Name: </label> {{client.device_name}}
			<br>
			<label style="color: #7B1FA2; font-weight: bold;">Device Serial: </label> {{client.device_serial}}
			<br>
			<label style="color: #7B1FA2; font-weight: bold;">Implant Date: </label> {{client.implant_date}}
			<div>
			<label style="color: #7B1FA2; font-weight: bold;">Doctors List: </label>
			<br>
			<ul class="list-group">
				{% for doc in client.doc_set.all %}
    		<li class="list-group-item">{{ doc.first_name }} {{ doc.last_name }}</li>
				{% endfor %}
			</ul>
			</div>
			<br>
	</div>
	<hr>
</div>
<div>
	<a class="btn btn-secondary" href="{% url 'client:service' client.pk %}">Services</a>
	<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#updateModal">Update</button>
	<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
</div>


<!-- Delete Client Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Delete Client"</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete "{{object.first_name}} {{ object.last_name }}"</p>
      </div>
      <div class="modal-footer">
	  	<form method="post" action="{% url 'client:client_delete' client.pk %}">
			{% csrf_token %}
        	<button type="submit" class="btn btn-danger">Delete Client</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</form>
      </div>
    </div>
  </div>
</div>

<!-- Update Client Modal-->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Update Client</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Update the details for "{{object.first_name}} {{ object.last_name }}"</p>
      </div>
      <div class="modal-footer">
	  	<form method="post" action="{% url 'client:client_update' client.pk %}">
			{% csrf_token %}
			{{form.as_p}}
        	<button type="submit" class="btn btn-danger">Update Client</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
