{% extends "clients/base.html" %}

{% block content %}
        {% include "clients/info_bar.html" %}
        <h3>Client Index</h3>
        {% for client in all_clients %}
        <div class="card">
                <h4 class="card-header">{{client.first_name}} {{client.last_name}}</h4>
                <div class="card-body">
                        <div class="row">
                                <div class="col">
                                        <label style="color: #7B1FA2; font-weight: bold;"> Record Number: </label>{{client.record_number}} <br>
                                        <label style="color: #7B1FA2; font-weight: bold;"> Date of Birth: </label>{{client.dob}} 
                                </div>
                                <div class="col">
                                        <label style="color: #7B1FA2; font-weight: bold;"> Device Manufacturer: </label>{{client.device_man}} <br>
                                        <label style="color: #7B1FA2; font-weight: bold;"> Device Name: </label>{{client.device_name}} 
                                </div>
                        </div>
                        <div class="row">
                                <div class="col">
                                <a class="btn btn-secondary" href="{% url 'client:client_detail' client.pk %}">Details</a>
                                </div>
                        </div>
                </div>
        </div>
        {% endfor %}

<div class = "container">
  <nav class = "Page navigation">
  {% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item"> 
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% else %}
        <li class="page-item"> 
                <a class="page-link btn disabled" role="button" href="#" aria-disabled="true">Previous</a>
        </li>
        {% endif %}

        {% if page_obj.has_next %}
        <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        {% else %}
        <li class="page-item">
                <a class="page-link btn disabled" role="button" href="#" aria-disabled="true">Next</a>
        </li>
        {% endif %}
     </ul>
     {% endif %}
  </nav>
</div>
{% endblock %}