{% extends "clients/base.html" %}

{% block content %}
        <h2>Client Index</h2>
        {% for client in all_clients %}
        <div class="card">
                <div class="card-body">
                <h3>{{client.first_name}} {{client.last_name}}</h3><br>
                <label style="color: #7B1FA2; font-weight: bold;"> Record Number: </label>{{client.record_number}} 
                <div>
                        <a class="btn btn-secondary" href="{% url 'client:client_detail' client.pk %}">Details</a>
                        <a class="btn btn-secondary" href="#">Services</a> 
                </div>
                </div>
        </div>
        {% endfor %}
{% endblock %}