{% extends 'clients/base.html' %}

{% block content %}
<div>
	<h3>Service Details</h3>
	<h4>{{oos.content_type}}</h4>
	<label style="color: #7B1FA2; font-weight: bold;">Service Content: </label> {{oos.content}}
	<br>
	<label style="color: #7B1FA2; font-weight: bold;">Battery Voltage: </label> {{oos.batt_volt}}
	<br>
</div>
<div>
<a class="btn btn-secondary" href="#">Services</a>
<a class="btn btn-secondary" href="{% url 'client:service_update' oos.pk %}">Update</a>
<a class="btn btn-danger" href="{% url 'client:service_delete' oos.pk %}">Delete</a> 
</div>

{% endblock %}
