 {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
            {{ field.label }}
            {{ field }}
            <span>
                {% if field.errors %}
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
            </span>
        </p>
        {% endfor %}




    <div>
        <p>Are you sure you want to delete "{{object.first_name}} {{ object.last_name }}" ?</p>
    </div>
    <div class="row"> 
        <div class="column">
            <form method="post">{% csrf_token %}
            <input class="btn btn-danger" type="submit" value="Confirm">
            </form>
        </div>
        <div class="column">
            <a class="btn btn-primary" href="{% url 'client:index' %}">Cancel</a>
        </div>
    </div>



<div class="container"><h1>Bootstrap  tab panel example (using nav-pills)  </h1></div>
<div id="exTab1" class="container">	
<ul  class="nav nav-pills">
			<li class="active">
        <a  href="#1a" data-toggle="tab">Overview</a>
			</li>
			<li><a href="#2a" data-toggle="tab">Using nav-pills</a>
			</li>
			<li><a href="#3a" data-toggle="tab">Applying clearfix</a>
			</li>
  		<li><a href="#4a" data-toggle="tab">Background color</a>
			</li>
		</ul>

			<div class="tab-content clearfix">
			  <div class="tab-pane active" id="1a">
          <h3>Content's background color is the same for the tab</h3>
				</div>
				<div class="tab-pane" id="2a">
          <h3>We use the class nav-pills instead of nav-tabs which automatically creates a background color for the tab</h3>
				</div>
        <div class="tab-pane" id="3a">
          <h3>We applied clearfix to the tab-content to rid of the gap between the tab and the content</h3>
				</div>
          <div class="tab-pane" id="4a">
          <h3>We use css to change the background color of the content to be equal to the tab</h3>
				</div>
			</div>
  </div>





  

  {% for service in object_list %}
  {% if oos_type in service %}
  <div class="card">
          <h4 class="card-header">{{service.oos_type}}</h4>
          <div class="card-body">
                  <div class="row">
                          <div class="col">
                                  <label style="color: #7B1FA2; font-weight: bold;"> Service Date: </label> {{service.oos_date}} <br>
                                  <label style="color: #7B1FA2; font-weight: bold;"> Content: </label> {{service.content}} <br>
                                  <label style="color: #7B1FA2; font-weight: bold;"> Battery Voltage: </label> {{service.batt_volt}}<br>
                                  <label style="color: #7B1FA2; font-weight: bold;"> Battery Voltage: </label> {{service}}<br>
                          </div>
                  </div>
                  <div class="row">
                          <div class="col">
                          <a class="btn btn-secondary" href="{% url 'client:service_detail' service.pk %}">Details</a>
                          </div>
                  </div>
          </div>
  </div>
  {% elif 'Diagnostic' in service.procedure_type %}
  <div class="card">
          <h4 class="card-header">{{service.procedure_type}}</h4>
          <div class="card-body">
                  <div class="row">
                          <div class="col">
                                  <label style="color: #7B1FA2; font-weight: bold;"> Procedure Date: </label> {{service.procedure_date}} <br>
                                  <label style="color: #7B1FA2; font-weight: bold;"> Procedure Comments:  </label> {{service.content}} <br>
                          </div>
                  </div>
                  <div class="row">
                          <div class="col">
                              <a class="btn btn-secondary" href="{% url 'client:service_detail' service.pk %}">Details</a>
                          </div>
                  </div>
          </div>
  </div>
  {% else %}
  <div class="card">
                  <h4 class="card-header"> No Device or Procedure Information Found</h4>
                  <div class="card-body">
                          <div class="row">
                                  <div class="col">
                                          Please create an new check or procedure for this patient.
                                  </div>
                          </div>
                          <div class="row">
                                  <div class="col">
                                      <a class="btn btn-secondary" href="{% url 'client:service_detail' service.pk %}">Details</a>
                                  </div>
                          </div>
                  </div>
          </div>
  {% endif %}

{% endfor %}