{% extends 'clients/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Update Service</h1>

<div class="container">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#batt_details" role="tab" aria-controls="nav-home" aria-selected="true">Battery Details</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#measurements" role="tab" aria-controls="nav-profile" aria-selected="false">Right Atrium</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#RV_details" role="tab" aria-controls="nav-contact" aria-selected="false">Right Ventricle</a>
        </div>
    </nav>

<form method="POST" class="update-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class='tab-content' id="nav-tabContent">
            <div class='form-row tab-pane fade show active' role="tabpanel" id="batt_details" role="tabpanel">
        <div class='form-group col-md-4 mb-0'>
          {{ form.oos_date|as_crispy_field }}
          {{ form.paced_percent_ra|as_crispy_field }}
          {{ form.paced_percent_rv|as_crispy_field }}
          {{ form.paced_percent_lv|as_crispy_field }}
          {{ form.batt_volt|as_crispy_field }}
          {{ form.batt_chg_time|as_crispy_field }}
          {{ form.content|as_crispy_field }}
        </div>
      </div>

      <div class='form-row tab-pane fade' role="tabpanel" id="measurements" role="tabpanel">
        <div class='form-row'>
          <div class='form-group col-md-6 mb-0'>
            {{ form.intra_amp_ra|as_crispy_field }}
            {{ form.pace_imp_ra|as_crispy_field }}
            {{ form.pace_thr_ra|as_crispy_field }}
            {{ form.pace_thr_pw_ra|as_crispy_field }}
            
          </div>
          <div class='form-group col-md-6 mb-0'>
            {{ form.intra_amp_rv|as_crispy_field }}
            {{ form.pace_imp_rv|as_crispy_field }}
            {{ form.pace_thr_rv|as_crispy_field }}
            {{ form.pace_thr_pw_rv|as_crispy_field }}
            {{ form.shock_imp_rv|as_crispy_field }}
            {{ form.shock_imp_svc|as_crispy_field }}
          </div>
        </div>
      </div>

      <div class='form-row tab-pane fade' role="tabpanel" id="RV_details" role="tabpanel">
        <div class='form-group col-md-4 mb-0 '>
                          <div style="overflow-y: scroll; height:400px; border: thin solid black;">
            {{ form.content|as_crispy_field }}
                          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-danger">Update Service</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
    </form>
    </div>
    {% endblock %}



    {% block content %}
    <h1>Update service</h1>
    <form method="POST" class="update-form" enctype="multipart/form-data">
        {% csrf_token %}
            {{form.as_p}}
        <button type="submit" class="btn btn-primary">Update service</button>
    </form>
{% endblock %}